*{
    margin: 0px;
}
.header{
    display: flex;
    background-color: rgb(50, 167, 145);
    align-items: center;
    padding: 15px;
}
.header h1 {
    color: white;
    
}
.header img {
    width: 5%;

}